/packages/api/**/*.ts @favna @kyranet @vladfrangu
/packages/editable-commands/**/*.ts @favna @kyranet
/packages/i18next/**/*.ts @nytelife26 @favna @kyranet @vladfrangu
/packages/logger/**/*.ts @favna @kyranet
/packages/pattern-commands/**/*.ts @favna @vladfrangu @feralheart
/packages/subcommands/**/*.ts @favna @vladfrangu
/packages/utilities-store/**/*.ts @favna
