{
	"extends": "@sapphire",
	"rules": {
		"@typescript-eslint/unbound-method": "off"
	},
	"overrides": [
		{
			"files": ["*.mjs"],
			"rules": {
				"@typescript-eslint/naming-convention": "off"
			}
		}
	]
}
